* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff;
}

.myNavBar {
  box-shadow: 0 0 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.myNavBar .myNavBar__left {
  display: flex;
  align-items: center;
}

.myNavBar .myNavBar__left .navbar-brand {
  flex-grow: 1;
  text-align: center;
  margin-right: 0;
}

.myNavBar .myNavBar__left .navbar-brand img {
  width: 110px;
}

.myNavBar .myNavBar__left .myNavBar__categories {
  flex-grow: 1;
  text-align: center;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
}

.myNavBar .myNavBar__left .myNavBar__categories i {
  color: #a1a7b3;
}

.myNavBar .myNavBar__left .myNavBar__form-search {
  flex-grow: 8;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group {
  background-color: #f2f3f5;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  transition: none;
  color: #505763;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control::placeholder {
  color: #505763;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #dedfe0;
  border-bottom-color: #dedfe0;
  border-left-color: #dedfe0;
  border-radius: 0;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #fff;
  border-top-color: #dedfe0;
  border-bottom-color: #dedfe0;
  border-right-color: #dedfe0;
  color: #ec5252;
  border-radius: 0;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text {
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  color: #ec5252;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.myNavBar .myNavBar__right .navbar-nav {
  justify-content: space-around;
  align-items: center;
}

.myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__cart .nav-link {
  font-size: 20px;
}

.button--white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
}

.button--white:hover {
  background-color: transparent;
  color: #29303b;
  border: 1px solid #29303b;
}

.button--red {
  color: #fff;
  background-color: #ec5252;
  border: 1px solid #ec5252;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
}

.button--red:hover {
  background-color: #521822;
  color: #fff;
  border: 1px solid #29303b;
}
/*# sourceMappingURL=main.css.map */