.button--white{
    @include styleButton($color-gray-0,$color-white-0,$color-black-light,$fs-0,$fw-1,$pd-0 + 1, $pd-0 + 2);
    &:hover{
        @include hoverButton($color-black-0, transparent,$color-black-0);
    }

}
.button--red{
    @include styleButton($color-white-0,$color-red-0,$color-red-0,$fs-0,$fw-1,$pd-0 + 1, $pd-0 + 2);
    &:hover{
        @include hoverButton($color-white-0, $color-red-1,$color-black-0);
    }
}