*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: $fs-0;
    line-height: $line-height-0;
    color: $color-black-0;
    background-color: $color-white-0;
}