//Khong co tham so 

// @mixin styleText {
//     color: white;
//     font-size: 13px;
// }


//Co tham so 

@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleButton($color,$bg-color,$border,$fs,$fw,$pd-y,$pd-x){
    color:$color;
    background-color: $bg-color;
    border: 1px solid $border;
    font-size: $fs;
    font-weight: $fw;
    padding: $pd-y $pd-x;
    cursor: pointer;

}

@mixin hoverButton($color-hover, $bg-hover,$border-hover) {
        background-color: $bg-hover;
        color: $color-hover;
        border: 1px solid $border-hover;
}
