.myNavBar {
    box-shadow: 0 0 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    .myNavBar__left {
        display: flex;
        align-items: center;
        .navbar-brand {
            flex-grow: 1;
            text-align: center;
            margin-right: 0;
            img {
                width: 110px;
            }
        }
        .myNavBar__categories {
            flex-grow: 1;
            text-align: center;
            @include styleText($color-black-light, $fs-1, $fw-0);
            cursor: pointer;
            i {
                color: $color-gray-3;
            }
        }
        .myNavBar__form-search {
            flex-grow: 8;

            .input-group {
                background-color: $color-white-cream;
                .form-control {
                    background-color: transparent;
                    border-color: transparent;
                    box-shadow: none;
                    transition: none;
                    color: $color-black-light;
                    &::placeholder{
                        color: $color-black-light;
                    }
                    &:focus {
                        background-color: $color-white-0;
                        border-top-color: $color-gray-4;
                        border-bottom-color: $color-gray-4;
                        border-left-color: $color-gray-4;
                        border-radius: 0;    
                    }
                    //+
                    &:focus + .input-group-append {
                        .input-group-text {
                            background-color: $color-white-0;
                            border-top-color: $color-gray-4;
                            border-bottom-color: $color-gray-4;
                            border-right-color: $color-gray-4;
                            color: $color-red-0;
                            border-radius: 0;
                            //& mean parent selector
                            &:hover {
                                color: $color-white-0;
                                background-color: $color-red-0;
                            }
                        }
                    }
                }
                .input-group-append {
                    .input-group-text {
                        height: 100%;
                        background-color: transparent;
                        border-color: transparent;
                        color: $color-red-0;
                        //& mean parent selector
                        &:hover {
                            color: $color-white-0;
                            background-color: $color-red-0;
                        }
                    }
                }
            }
        }
    }

    .myNavBar__right{
        .navbar-nav{
            justify-content: space-around;
            align-items: center;
            .nav-item{
                .nav-link{
                    @include styleText($color-black-light, $fs-1, $fw-0);
                }
            }
            .myNavBar__cart{
                .nav-link{
                    font-size: $fs-3 + 2;
                }
            }
        }
    }
}
